terraform/.terraform/environment
terraform/.terraform/terraform.tfstate
terraform/.terraform/modules/modules.json
terraform/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.1.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.1.0/windows_amd64/terraform-provider-azuread_v3.1.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.0/windows_amd64/terraform-provider-azurerm_v3.117.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_amd64/terraform-provider-random_v3.6.3_x5.exe
terraform/terraform.tfstate.d/dev/.terraform.tfstate.lock.info
terraform/terraform.tfstate.d/dev/terraform.tfstate
terraform/terraform.tfstate.d/dev/terraform.tfstate
terraform/terraform.tfstate.d/dev/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfplan
terraform/terraform.tfstate.d/dev/terraform.tfstate.backup
terraform/terraform.tfstate.d/integ/terraform.tfstate
terraform/terraform.tfstate.d/integ/terraform.tfstate.backup
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/keycloak-identity-and-access-management-aks/FileContentIndex/9ea6150d-43d5-4f82-a605-80104e7fc23a.vsidx
.vs/keycloak-identity-and-access-management-aks/v17/.wsuo
.vs/keycloak-identity-and-access-management-aks/v17/DocumentLayout.json
.vs/keycloak-identity-and-access-management-aks/FileContentIndex/3d99238a-27f6-4dba-84ed-6468b4945903.vsidx
/.vs/keycloak-identity-and-access-management-aks
