terraform/.terraform/environment
terraform/.terraform/terraform.tfstate
terraform/.terraform/modules/modules.json
terraform/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.1.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.1.0/windows_amd64/terraform-provider-azuread_v3.1.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.0/windows_amd64/terraform-provider-azurerm_v3.117.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/windows_amd64/terraform-provider-random_v3.6.3_x5.exe
terraform/terraform.tfstate.d/dev/.terraform.tfstate.lock.info
terraform/terraform.tfstate.d/dev/terraform.tfstate
terraform/terraform.tfstate.d/dev/terraform.tfstate
terraform/terraform.tfstate.d/dev/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfplan
terraform/terraform.tfstate.d/dev/terraform.tfstate.backup
terraform/terraform.tfstate.d/integ/terraform.tfstate
terraform/terraform.tfstate.d/integ/terraform.tfstate.backup
